* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(7, 7, 65);
}
.container {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 50px;
}
.boxes {
  height: 200px;
}
h1 {
  color: white;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.box {
  display: inline-block;
  width: 30%;
  background-color: #fff;
  margin: 8px;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
}
img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
h2 {
  text-transform: capitalize;
  padding-bottom: 10px;
}
span {
  color: gray;
  font-size: 12px;
}
p {
  color: gray;
  font-style: italic;
  padding: 20px 0;
}
button {
  text-transform: uppercase;
  color: rgb(6, 6, 80);
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(4, 4, 77);
  font-weight: bold;
  margin-bottom: 20px;
}
